<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Sheet Smithy</title>
    <link rel="stylesheet" href="/static/stylesheet.css">

    <script src="/static/homepageScript.js"></script>
    
</head>
<body onload="setSeed();" onpageshow="loadCoreOptions();loadSpeciesOptions();loadClassChoices();hideAbilityScores();hideInventory()">
    <form id="characterForm" action="/generate" method="get" >
        <div>
           Welcome adventurer, to Sheet Smithy! Lets put hammer to steel and forge your first character! Give your new hero a great name below. Use <a href="https://www.fantasynamegenerators.com" target="_blank">this&nbsp;website</a> if you're stuck!
        </div>

        <label for="name">Character name:</label>
        <input type="text" id="name" name="name" value="">
        <em>Tip: Ask your Game Master if you're not sure what level you are playing at. </em>
        <label for="level">Level:</label>
        <select id="level" name="level" onchange="loadClassChoices()">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
        </select>
        
        <label for="classAsString">Class:</label>
        <select id="classAsString" name="classAsString" onchange="loadClassChoices()">
            <option value="Barbarian">Barbarian</option>
            <option value="Cleric">Cleric</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Rogue">Rogue</option>
            
        </select>
        
        <select id="barbarianSubclass" name="barbarianSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="bear">Path of the Totem Warrior (Bear)</option>
            <option value="wild">Path of Wild Magic</option>
        </select>
        
        
        <select id="rangerSubclass" name="rangerSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="monster slayer">Monster Slayer</option>
            <option value="hunter">Hunter</option>
        </select>

        
        
        <select id="fighterSubclass" name="fighterSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="champion">Champion</option>
            <option value="rune">Rune Knight</option>
        </select>
        
        <select id="rogueSubclass" name="rogueSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="thief">Thief</option>
            <option value="swash">Swashbuckler</option>
        </select>
        
        <select id="paladinSubclass" name="paladinSubclass" class="startInvisible" onchange="loadClassChoices()">
            <option value="">Select a subclass</option>
            <option value="vengeance">Oath of Vengeance</option>
            <option value="ancients">Oath of the Ancients</option>
        </select>


        <label for="race">Species:</label>

        <select id="race" name="race" onchange="loadSpeciesOptions()">
            <option value="">Select a species</option>
            <option value="dwarf">Dwarf</option>
            <option value="dragonborn">Dragonborn</option>
            <option value="halfElf">Half-Elf</option>
            <option value="gnome">Gnome</option>
            <option value="halfling">Halfling</option>
            <option value="human">Human</option>
            <option value="halfOrc">Half-Orc</option>
            <option value="tiefling">Tiefling</option>
        </select>
        
        </select>
        
        
        



        <label for="background">Background:</label>
        <select id="background" name="backgroundAsString">
            <option value="">Select a background</option>
            <option value="Acolyte">Acolyte</option>
            <option value="Sage">Sage</option>
            <option value="Criminal">Criminal</option>
            <option value="Charlatan">Charlatan</option>
            <option value="Hermit">Hermit</option>
            <option value="Noble">Noble</option>
            <option value="Entertainer">Entertainer</option>
            <option value="Soldier">Soldier</option>
            <option value="Sailor">Sailor</option>
            <option value="Folk Hero">Folk Hero</option>
            <option value="Guild Artisan">Guild Artisan</option>
            <option value="Urchin">Urchin</option>
            <option value="Outlander">Outlander</option>
        </select>
        <br>
        <button type="submit" value="" onclick="wrapUp();" class="majorButton">Create my character!</button>
        <br>
        


        <label for="showScores">
        <input type="checkbox" id="showScores" name="showScores">Show ability scores ?
        </label>
        
    
        <label for="tashaContent">
        <input type="checkbox" id="tashaContent" name="tashaContent">Allow Tasha's Content ?
        </label>
        
        <br>
        <div id="showScoresButton">
            <button type="button" class="minorButton" onclick="showAbilityScores(); ">Customise ability scores?</button>
        
        </div>
        <div id="hideScoresButton" class="startInvisible" >
            <button  type="button" class="minorButton" onclick="hideAbilityScores();">Hide scores</button>
        </div>

        <div id="abilityScores" class="startInvisible">

            Distribute your ability scores from the Standard Array [15,14,13,12,10,8] or use a Point Buy method to get a different array <a href="https://chicken-dinner.com/5e/5e-point-buy.html" target="_blank">here</a> (ignore Race). Legends even speak of some who roll dice for their scores, but check this with your DM before rolling. 
            <div class="row">
            <div class="column">
            <label for="Strength">Strength:</label>
            <input type="number" id="Strength" name="str" min="1" max="20" value=10>
            </div>
            
            <div class="column" style="left:15%">
            <label for="Dexterity">Dexterity:</label>
            <input type="number" id="Dexterity" name="dex" min="1" max="20" value=10>
            </div>
            
            <div class="column" style="left:15%">
            <label for="Constitution">Constitution:</label>
            <input type="number" id="Constitution" name="con" min="1" max="20" value=10>
            </div>
            
            <div class="column">
            <label for="Intelligence">Intelligence:</label>
            <input type="number" id="Intelligence" name="int" min="1" max="20" value=10>
            </div>
            
            <div class="column">
            <label for="Wisdom">Wisdom:</label>
            <input type="number" id="Wisdom" name="wis" min="1" max="20" value=10>
            </div>
            <div class="column">
            <label for="Charisma">Charisma:</label>
            <input type="number" id="Charisma" name="cha" min="1" max="20" value=10>
            </div>
        </div>
            <br>
            <br>

            
        </div>
    

       

        <div id="showInventoryButton">
            <button type="button" class="minorButton" onclick="showInventory();">Customise inventory?</button>
            
        </div>
    
        <div id="hideInventoryButton" class="startInvisible">
            <button  type="button" class="minorButton" onclick="hideInventory();">Hide inventory</button>
        </div> 

        <div id="inventory" class="startInvisible">
            We send out our heroes with armor, a minimal set of weapons and 50ft of rope. If you want them to buy more gear before battle, list the items below separating them with a comma. For example: 
            <em>
                shield, potion of healing, whip
            </em>


            <label for="stuff">Shopping List:</label>
            <input type="text" id="stuff" name="stuff" value="">


        </div> 
        <button type="submit" value="" onclick="wrapUp();" class="majorButton">Create my character!</button>

        <div id="showHelpButton">
            <button type="button" class="minorButton" onclick="showHelp();">Help! I don't know what I'm doing!</button>
            
        </div>
        <div id="help" class="startInvisible">
            <button type="button" class="minorButton" onclick="hideHelp();">Hide help?</button>
            Well, you're in the right place! Sheet Smithy can help you create a ready-to-play character sheet in just a few seconds. 
            <br>
            <br>
            Ask your Game Master what level you're playing at, and then pick some options that sound cool. 
            If it is your first time playing, I would recommend not playing a Cleric or Druid as they can be quite complicated, and leave an option blank if nothing grabs you.
            <br>
            <br>
            Once you have generated a character, bookmark it or print it off and give it a read. 
            It may not make complete sense until you have played, but knowing your class, your species, and what dice you will need will be helpful once you start playing. 
            <br><br>When it is your turn in a fight you get an Action, a Bonus Action and you can move up to your Speed. 
            For your convenience, all our character sheets have most of the Action options you can do listed in the middle of the page and your Bonus Actions (if you have any) on the bottom right.
            <br><br>If you see some "O"s following an ability, this means you can only use it so many times before running out. Be sure to cross off an "O" when you use it with a pencil, so you can regain the use when you take a rest. 
            <br><br>If you play a spellcaster, some abilities may cost Spell Slots or other resources, which will also need crossing off in the Spellcasting section. 
            <br><br>If you're not sure about anything drop me an <a href='mailto:sheetsmithy@gmail.com' target="_blank">email</a> or ask your Game Master :) Good luck! 
            <br><br>
        </div>

        <div id="showMoreInfoButton">
            <button type="button" class="minorButton" onclick="document.getElementById('info').style.display='block'; document.getElementById('showMoreInfoButton').style.display='none';">Show more info about Sheet Smithy?</button>
        </div>
        <div id="info" class="startInvisible">
            <button type="button" class="minorButton" onclick="document.getElementById('info').style.display='none'; document.getElementById('showMoreInfoButton').style.display='block';">Show less info about Sheet Smithy?</button>
            Hi! My name is Luke! I'm a Game Master and programmer from Newcastle (UK) and have built Sheet Smithy to create easy to read, beginner friendly character sheets.
            For more customisability, checkout other sites like Fast Character, DM's vault or of course, D&D Beyond. 
            <br><br>If you have a feature you want to see built into Sheet Smithy (and £5) then <a href="https://www.paypal.com/donate/?hosted_button_id=TDSH2JPEGA4UL" target="_blank"> toss a coin to your coder</a> and ill build it for you :)
            <br><br> Alternatively, if you are a Python-whisperer too and want to collaborate then check out my <a href="https://github.com/jeanlukeminchella/sheetsmithy" target="_blank">github</a> and drop me an <a href='mailto:sheetsmithy@gmail.com' target="_blank">email</a>!
        </div>



        
        
        
    </form>



</body>
</html>